*{
    margin: 0;
    padding: 0;
}
.background{
    height: 100vh;
    
}
 img{
    width: 100%;
  
}
 .button{
position: absolute;
    top:50%;
    left: 50%;
    margin-left: -50px;

    
}
.button button{
    
    padding: 12px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    letter-spacing: 2.5px;
    color: #000;
    outline: none;
    cursor: pointer;
    border-radius: 45px;
    text-transform: uppercase;
    border: none;
    background-color: white;
    box-shadow: 0px 8px 15px white;
    transition: all 0.3s ease ;
}
button:hover{
    background-color: #2ee59d;
    box-shadow: 0px 15px 20px rgba(46,229,157,0.4);
    color: #fff;
    transform: translateY(-7px);
}

@media screen and (min-width:1500px){
    img{
        height: 100%;
    }
}