*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    --shadow: 0 1px 5px rgba(104, 104, 104,0.8);
}
.navigation ul{
    list-style: none;
    margin-right: 60px;

}
.navigation li a{
    text-decoration: none;
    color: black;
    padding: 10px;
    

}
.navigation ul a{
    display: block;
    text-decoration: none;
    text-align: center;
    color: black;
    padding: 12px 30px;
    font-family: 'Lato', sans-serif;
}
nav{
    display: flex;
    justify-content: space-around;
    height: auto;
    border-bottom: 2px solid #ff9800 ;
}
.navigation ul{
    display: flex;
}
nav .logo{
    text-transform: uppercase;
    font-family: 'Kulim Park', sans-serif;
    color: #303137;
    padding: 12px;
    text-decoration: none;
    font-weight: 700;
    margin-left: 60px;
}
/*section for slider*/

.sldier{
    height: 100vh;
  
}
.slider li{
    background-repeat: no-repeat;
    background-size: cover;
    animation: slide 10s infinite;
    height: 100vh;
    width: 100%;
 
}
.container{
    display: grid;
    grid-gap: 20px;
   
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.card{
    background: white;
    text-align: center;
    padding: 1.5rem 2rem;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: var(--shadow);
}

.head {
    margin-bottom: 20px;
    margin-top: 20px;
}

.head h1 {
    text-align: center;
  
    padding: 20px;
}
.mycard {
    margin: 0 auto;
    max-width: 1200px;
}
.container .card h1{
    font-weight: 400;
    font-size: 18px;
    color: black;
    padding: 20px 10px 0px 10px;
    min-height: 40px;
    line-height: 19px;
}
.card:hover {
    background: white;
    box-shadow: 8px 8px 16px 8px rgb(0 0 0 / 20%);
}


footer h1{
    text-align: center;
    height: 100px;
    width: 100%;
    background-color: cornsilk;
    display: block;
    margin-top: 10px;

}


@keyframes slide {
0%{
   background-image: url(./hos.jpg);
}
25%{
   background-image: url(./hos1.jpg);
}
50%{
    background-image: url(./hos.jpg);
}
75%{
    background-image: url(./hos1.jpg);
}
100%{
    background-image: url(./hos.jpg);
}
}
@media screen and (max-width: 740px)
{
  
    nav{
        flex-direction: column;
    }
    .navigation ul{
        flex-direction: column;
    }
    .container{
    
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        margin: 0 20px 0px 20px;
    }
}
@media screen and (max-width:1100px)
{
    .mycard{
        max-width: 1000px;
    }.navigation ul{
        margin: 0;
    }
    .container{
    
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        margin: 0 20px 0px 20px;
    }
}
