*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width: 700px;
    margin: 0 auto;
    background-color: lightsteelblue;
}
.style{
    text-align: center;
}
.title{
    padding: 20px 20px;
    text-align: center;
}
input {
    padding: 10px 12px 12px 15px;
    font-size: 20px;
    width: 80%;
    
}
.input .button{
    padding: 10px 12px 12px 15px;
    outline: none;
    border: none;
    border-left: 6px solid steelblue;
    font-size: 20px;
    background-color: lightblue;
    cursor: pointer;

}
li{
   list-style-type: none;
   padding: 10px 12px 12px 37px;
    
}
